.main__benefits
   padding: 60px 0

.benefits__inner
   display: flex
   justify-content: space-between
   align-items: center
   gap: 20px

.benefits__list
   padding-left: 50px
   background-image: linear-gradient(to bottom, #fff 40%, #a5a5a5 40%)
   background-size: 2px 35px
   background-repeat: repeat-y
   background-position: left 12px top 1px
   position: relative
   display: flex
   flex-direction: column
   gap: 35px
   
   &::before,
   &::after
      content: ""
      width: 26px
      height: 36px
      background-color: #fff
   &::before
      background: url(/way-start.svg) 0 0 / 100% no-repeat
      position: absolute
      top: -0
      left: 0
      background-color: #fff
   &::after
      background: url(/way-end.svg) 0 0 / 100% no-repeat
      position: absolute
      bottom: -10px
      left: 0
      background-color: #fff

   &-item
      max-width: 315px

   &-title
      color: #2c2c2c
      font-family: var(--font-lato)
      font-size: 21px
      font-weight: 900
      margin-bottom: 12px

   &-text
      color: #585858
      font-weight: 400
