// Breakpoints
$lg: 991px
$md: 770px
$sm: 600px
$xs: 450px

@media (max-width: $lg)
   .service__inner
      flex-wrap: wrap

   .service__text
      max-width: 80%

   .clients__inner
      flex-wrap: wrap
      justify-content: center

   .clients__logos-list
      margin-bottom: 50px

   .clients__slide
      max-width: 80%

   .clients__img
      max-width: 150px

   .footer
      background-size: 40% auto
      background-position: 0 90%, 100% 90%

@media (max-width: $md)
   

   .intro__inner
      flex-direction: column
      align-items: flex-start
      padding-bottom: 50px

   .intro__form
      order: 2
      position: static

   .intro__text
      max-width: 100%
      margin-top: 60px
      margin-bottom: 30px

   .intro__text-title
      font-size: 90px

      &::before
         font-size: 110px
         right: 233px

   .form__button
      margin-bottom: 25px

   .clients__logos-list::before
      display: none

   .benefits__inner
      flex-direction: column

   .benefits__list
      margin-bottom: 40px

   .benefits__list-item
      max-width: none

   .team__content-list
      flex-wrap: wrap
      justify-content: center

   .team__content-item
      margin-right: 0

      &:last-child
         margin: 0

   .news__list
      flex-wrap: wrap

   .news__item-text
      max-width: none

   .main__blog
      padding: 30px 0

   .blog__inner
      flex-direction: column

   .blog__button
      margin-bottom: 10px

   .blog__content-title
      margin-bottom: 30px

   .blog__content-item
      margin-bottom: 20px

   .main__privacy
      padding-bottom: 0

   .privacy__content-title
      margin: 30px 0

   .privacy__ordered-list
      margin-bottom: 20px

   .intro__slider-arrows
      display: none

@media (max-width: $sm)
   .intro__text
      margin-bottom: 15px

   .intro__text-title
      font-size: 60px

      &::before
         font-size: 90px
         right: 145px


   .service__text
      max-width: 100%

   .main__news,
   .main__mission,
   .main__team,
   .main__benefits,
   .main__clients,
   .main__service
      padding: 30px 0

   .footer
      margin-top: 0

   .mission__inner-title
      font-size: 23px
      padding: 35px 15px 0 15px

   .mission__inner-subtitle
      font-size: 18px
      padding: 0 15px 35px 15px

   .modal__close
      top: -30px
      right: 0

   .blog__button
      margin-bottom: 25px

   .clients__slider
      max-width: 400px

@media (max-width: $xs)
   .intro__text-title
      font-size: 40px

      &::before
         font-size: 70px
         right: 90px

   .head__title
      font-size: 25px

   .head__subtitle
      font-size: 13px

   .service__inner:after
      font-size: 60px

   .title
      font-size: 35px

   .clients__list-item
      width: 50%
      text-align: center
      margin-right: 0

   .clients__img
      max-width: 130px

   .clients__love
      display: none

   .mission__inner-title
      font-size: 18px
      padding: 35px 15px 0 15px

   .mission__inner-subtitle
      font-size: 15px
      padding: 0 15px 35px 15px

   .footer
      background-image: none

   .clients__slider
      max-width: 260px

   .clients__bottom
      justify-content: center
