.main__news
   padding: 60px 0

.clients__title
   margin-bottom: 50px

.news__list
   display: grid
   grid-template-columns: minmax(auto, 500px) minmax(auto, 500px)
   justify-content: space-between
   gap: 30px
   @media(max-width: 770px)
      grid-template-columns: 1fr

   &-item
      margin-bottom: 20px
      margin-right: 15px

.news__item
   &-title
      color: #2c2c2c
      font-family: var(--font-pt-sans)
      font-size: 18px
      font-weight: 700

   &-text
      padding: 15px 0
      font-weight: 400

   &-time
      color: #6e6e6e
      font-family: var(--font-pt-sans)
      font-size: 12px
      font-weight: 400
      line-height: 175%

.news__button
   margin-top: 30px
